@font-face {
  font-family: "timeFont";
  src: url("../timeFont/time.eot");
  src: url("../timeFont/time.woff") format("woff"),
    url("../timeFont/time.ttf") format("truetype"),
    url("../timeFont/time.svg") format("svg");
}

/* 大屏左上角字体 */
@font-face {
  font-family: "circle";
  src: url("../fontFamily/circle.eot");
  src: url("../fontFamily/circle.woff") format("woff"),
    url("../fontFamily/circle.ttf") format("truetype"),
    url("../fontFamily/circle.svg") format("svg");
}

/* 大屏左上角时间 后面的TIME */
@font-face {
  font-family: "time";
  src: url("../fontFamily/time.eot");
  src: url("../fontFamily/time.woff") format("woff"),
    url("../fontFamily/time.ttf") format("truetype"),
    url("../fontFamily/time.svg") format("svg");
}


/* 页头标题 */
@font-face {
  font-family: "stitle";
  src: url("../fontFamily/stitle.eot");
  src: url("../fontFamily/stitle.woff") format("woff"),
    url("../fontFamily/stitle.ttf") format("truetype"),
    url("../fontFamily/stitle.svg") format("svg");
}

/*  大屏页左上角数字 */
@font-face {
  font-family: "Medium";
  src: url("../fontFamily/Medium.eot");
  src: url("../fontFamily/Medium.woff") format("woff"),
    url("../fontFamily/Medium.ttf") format("truetype"),
    url("../fontFamily/Medium.svg") format("svg");
}

/*  大屏页面其他数字 */
@font-face {
  font-family: "Strong";
  src: url("../fontFamily/Strong.eot");
  src: url("../fontFamily/Strong.woff") format("woff"),
    url("../fontFamily/Strong.ttf") format("truetype"),
    url("../fontFamily/Strong.svg") format("svg");
}

.homeContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.homeContainer .homeRight {
  width: 100%;
  flex-shrink: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.homeContainer .navigation {
  height: 50px;
  flex-shrink: 0;
  width: 100%;
  background: #011329;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

/*logo*/
.homeLogo {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  flex-shrink: 0;
  background: #F7F7F8;
}

.homeContainer .homeContent {
  height: 100%;
}

.navigation .homeSearch {
  padding: 10px;
  width: 250px;
  color: #ffffff;
  flex-shrink: 0;
}

.navigation .homeSearch b {
  height: 100%;
  display: inline-block;
  width: 0;
  border: 2px solid #ccc;
  vertical-align: middle;
  margin-left: 10px;
}

.homeSearch .searchBtn {
  font-size: 20px;
}

.navigation .homeSearch input {
  width: 80%;
  height: 100%;
  color: #fff;
  outline: none;
  border: none;
  background-color: transparent;
}

.navigation .homeSearch input::placeholder {
  color: #ccc;
}

.homeProName {
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  color: #fff;
  font-size: 20px;
  flex-shrink: 0;
}

.navigation ul {
  width: 100%;
  flex-shrink: 1;
  display: inline-flex;
  justify-content: space-around;
}

.navigation ul li {
  width: 120px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.navigation ul li div.active {
  border-bottom: 4px solid #fff;
  height: 100%;
}

.navigation ul li div span {
  display: inline-block;
  margin-right: 5px;
  font-size: 18px;
  color: #ccc;
}

.navigation ul li div.active span {
  color: #fff;
}

.navigation ul li div span.icon {
  font-size: 20px;
}

.homeTime {
  width: 300px;
  line-height: 50px;
  text-align: center;
  flex-shrink: 0;
}

.userMsg {
  width: 400px;
  padding: 0 30px;
  line-height: 50px;
}

.userMsg .username {
  color: #ccc;
}

.userMsg img {
  border-radius: 50%;
}

.logout {
  color: #eee;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  font-size: 20px;
}

.mapMenuControl .homeLogo {
  height: 50px;
  line-height: 50px;
  text-align: center;
  flex-shrink: 0;
}

.mapMenuControl .mapMuneBtn {
  height: 100%;
  display: flex;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
}

.mapMuneBtn .arrow {
  cursor: pointer;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
  border-right: 10px solid #333;
  border-bottom: 10px solid transparent;
}

.mapMuneBtn .arrow.menuActve {
  display: inline-block;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 10px solid #333;
  border-bottom: 10px solid transparent;
}

.mapMenuControl {
  width: 60px;
  flex-shrink: 0;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
}

.menuList .el-menu {
  border-right: none;
}

.mapUseEleMsg {
  position: absolute;
  top: 30px;
  left: 280px;
  right: 230px;
  z-index: 12;
}

.mapUseEleMsg ul {
  display: flex;
  justify-content: space-between;
}

.mapUseEleMsg ul li {
  padding: 15px 20px;
  border-radius: 10px;
  color: #fff;
  width: 200px;
  box-shadow: 5px 5px 10px #ccc;
}

.mapUseEleMsg ul li p {
  margin-bottom: 10px;
}

.mapUseEleMsg ul li p b {
  font-size: 28px;
}

.mapUseEleMsg ul li p span {
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;
}

.mapUseEleMsg ul li:nth-child(1) {
  background-image: linear-gradient(#327ad2, #5aa3fb);
}

.mapUseEleMsg ul li:nth-child(2) {
  background-image: linear-gradient(#40b9e2, #5ecdf4);
}

.mapUseEleMsg ul li:nth-child(3) {
  background-image: linear-gradient(#10c0b6, #2bd7d5);
}

.mapUseEleMsg ul li:nth-child(4) {
  background-image: linear-gradient(#0abf69, #26d688);
}

.mapUseEleMsg ul li:nth-child(5) {
  background-image: linear-gradient(#745dfc, #93acfa);
}

.iconStatus {
  position: absolute;
  top: 150px;
  right: 20px;
  bottom: 0;
  z-index: 12;
}

.iconStatus li {
  cursor: pointer;
  width: 90px;
  height: 90px;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 20%;
  box-shadow: 5px 5px 10px #ccc;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.iconStatus li p {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.amap-info-close {
  display: none;
}

.alstyle h2 {
  font-size: 16px;
  color: #333;
}

.alstyle ul li {
  margin-top: 5px;
}

.alstyle ul li span {
  font-size: 14px;
}

.alstyle ul li span:first-child {
  color: #666;

}

.alstyle ul li:first-child span:last-child {
  color: #0184e2;
}

.alstyle .c1 {
  color: #0fd564;
}

.alstyle .c2 {
  color: #5b7dfe;
}

.alstyle .c3 {
  color: #d433e3;
}

.alstyle .c4 {
  color: #a693d6;
}

.alstyle .c5 {
  color: #95b630;
}

.alertWindow {
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-around;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 20;
}

.yctList .container {
  border-radius: 10px;
  overflow: hidden;
}

.listHead {
  text-align: center;
  padding: 20px;
  background: #fff;
}

.listHead span {
  display: inline-block;
  font-weight: 700;
  color: #333;
}

.listHead i {
  font-size: 24px;
  color: #999;
  cursor: pointer;
}

.yctList .container {
  border-radius: 10px;
  overflow: hidden;
}

.alcon {
  padding: 0 20px 20px;
  background-color: #fff;
}

.stationData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.stationData .stationProgress {
  width: 55%;
}

.stationData .stationNum {
  width: 45%;
  padding-left: 20px;
}

.stationData .stationProgress {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gradientCon {
  background-image: linear-gradient(#4c88ea, #58b9fd);
  border-radius: 10px;
  padding: 10px;
  flex-shrink: 0;
  position: relative;
}

.fh_s {
  padding: 10px 0;
}

.fh_s>b {
  display: inline-block;
  text-align: center;
  width: 70px;
}

.fh_s span {
  display: inline-block;
  text-align: left;
  padding-left: 10px;
  color: #fff;
  font-size: 16px;
}

.fh_s span b {
  font-size: 14px;
  font-weight: 400;
}

.eledirection {
  border-top: 1px solid #4c88ea;
  width: 100%;
  flex-shrink: 1;
  position: relative;
}

.eledirection .cenarrow {
  position: absolute;
  left: 50%;
  top: -9px;
  margin-left: -9px;
}

.gradientCon div:nth-child(2).fh_s,
.gradientCon div:nth-child(3).fh_s {
  margin-bottom: 15px;
}

.outTop {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  text-align: center;
}

.outBottom {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  text-align: center;
}

.cfd {
  bottom: -45px;
  color: #0abf69;
}

.cft {
  top: -35px;
  font-size: 12px;
}

.outTop span {
  font-size: 16px;
  color: #52a3f4;
  display: inline-block;
  margin-right: 5px;
}

.residuele span {
  font-size: 13px;
  color: #666;
}

.residuele span:last-child {
  color: #4bc96d;
}

.stationNum {
  display: flex;
  justify-content: space-between;
}

.stationNum>div {
  width: 48%;
  border: 1px dashed #e9ecf0;
  background: #fafafb;
  padding: 10px;
  border-radius: 5px;
}

.stationBtn>div>div span {
  border: 1px solid #cdcdcd;
  color: #999;
}

.stationConstrol {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.stationBtn {
  width: 140px;
  padding-left: 10px;
  font-size: 0;
  /* border: 1px solid #333; */
}

.stationBtn>div>span {
  display: inline-block;
  padding: 8px 5px;
  border-top: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  font-size: 14px;
  background-image: linear-gradient(#ffffff, #ebebec);
  cursor: pointer;
}

.stationBtn>div>span:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid #bfbfbf;
}

.stationBtn>div>span:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dcbtn.active:nth-child(1) {
  background-image: linear-gradient(#11d59c, #24f5b0);
}

.dcbtn.active:nth-child(2) {
  background-image: linear-gradient(#d432e3, #de7ef3);
}

.dcbtn.active:nth-child(3) {
  background-image: linear-gradient(#567afe, #31d6e6);
}

.ktbtn.active:nth-child(1) {
  background-image: linear-gradient(#a794d7, #b7a8e1);
}

.ktbtn.active:nth-child(2) {
  background-image: linear-gradient(#97b731, #c1d85b);
}

.stationTopL ul {
  padding: 10px 0;
}

.stationTopL ul li {
  padding: 10px 0;
}

.stationTopL span {
  font-size: 14px;
  color: #666;
}

.stationTopL.dcmsg ul li b {
  display: inline-block;
  color: #4c8aeb;
  margin-right: 10px;
  font-size: 20px;
}

.stationTopL.dcmsg ul li b+span {
  font-size: 12px;
  color: #999;
}

.stationTopL.ktmsg ul li b {
  display: inline-block;
  color: #f08e53;
  margin-right: 10px;
  font-size: 20px;
}

.stationTopL ul li b+span {
  font-size: 12px;
  color: #999;
}

.strategy_s>div:first-child {
  font-size: 14px;
}

.strategy_s>div:first-child b {
  color: #4eb4ee;
  font-weight: 400;
  float: right;
}

.strategy_s>div:last-child {
  font-size: 0;
  padding: 10px 0;
}

.strategy_s>div:last-child span {
  display: inline-block;
  width: 50%;
  text-align: center;
  color: #666;
}

.screenConrainer {
  background-image: url(../img/screen/BG.jpg);
  background-size: 100% 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.screenTitle {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  flex-shrink: 0;
}

.screenCon {
  height: 100%;
  flex-shrink: 1;
  display: flex;
  justify-content: space-between;
  /* overflow: hidden; */
}

.screenCon>div {
  padding: 20px;
  height: 100%;
}

.screenCon>div:nth-child(1),
.screenCon>div:nth-child(3) {
  width: 500px;
  flex-shrink: 0;
}

.screenCon>div:nth-child(2) {
  width: 100%;
  flex-shrink: 1;
}

.screenConrainer .sreenLeft {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 100;
}

.sreenLeft>div {
  display: flex;
  flex-wrap: wrap;
}

.enerynum {
  flex-shrink: 0;

}

.eccon {
  flex-shrink: 1;
}

.modelTitle {
  font-size: 24px;
  color: #f1fbf8;
  margin-bottom: 20px;
  width: 100%;
}

.enerynum>div {
  display: inline-block;
  width: 49%;
}

.enerynum>div span {
  font-size: 14px;
  color: #b0bec5;
}

.fw>div p i {
  font-family: timeFont;
  font-size: 40px;
  display: inline-block;
  margin-right: 10px;
}

.fw>div:nth-child(2) p i {
  color: #00e676;
}

.fw>div:nth-child(3) p i {
  color: #fd8c0d;
}

.enerynum>div.thisYearJZ span {
  font-family: Strong;
  font-size: 40px;
  color: #00e676;
}

.enerynum>div.thisYearJZ p {
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
}

.enerynum>div.zjrl img {
  vertical-align: middle;
}

.enerynum>div.zjrl p span {
  font-family: Strong;
  font-size: 40px;
  color: #21eab6;
  vertical-align: middle;
  margin-left: 10px;
}

.enerynum>div.zjrl p span:last-child {
  font-size: 14px;
  vertical-align: bottom;
}

.enerynum>div.zjrl>span {
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
}

.screenMap {
  position: relative;
}

.msgnum {
  position: absolute;
  top: 0;
  left: 0;
}

.msgnum p {
  -webkit-line-clamp: 2;
  background-image: -webkit-linear-gradient(top, #9aecfd, #3b86f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.msgnum p span {
  font-family: Medium;
  font-size: 34px;
}

.msgnum p i {
  font-size: 14px;
  font-style: normal;
  display: inline-block;
  margin-left: 10px;
}

.mapshow {
  position: absolute;
  left: 50px;
  bottom: 0px;
  width: 120%;
  left: -150px;
}

.mapshow img {
  width: 100%;
  max-height: 90%;
}

.mapicon {
  position: absolute;

}

.mapBtn {
  position: absolute;
  bottom: 50px;
  right: 0;
}

.mapBtn>div {
  font-size: 16px;
  color: #fefefe;
}

.mapBtn ul li {
  padding: 7px 0;
}

.mapBtn ul li span {
  display: inline-block;
  color: #b0bec5;
  width: 60px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 13px;
  background: #04081c;
  font-size: 14px;
  cursor: pointer;
}

.mapBtn ul li span.active {
  background-image: linear-gradient(to left, #0883f8, #11bcfe);
  color: #fff;
}

.mapModel {
  margin-top: 50px;
}

.mapModel>div {
  background-image: url('../../assets/img/bg1.png');
  background-size: 100% 100%;
  margin-top: 10px;
  padding: 4px;
  display: block;
  width: 75px;
  height: 40px;
  line-height: 32px;
  text-align: center;

}

.mapModel>div span {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #040e2e;
  border: 1px solid #2f62bb;
  cursor: pointer;
}

.mapModel>div span.active {
  background-image: linear-gradient(to top, #04a2dd, #24d7f4);
  color: #000a11;
}

.msgWindow {
  position: absolute;
  background: rgba(7, 13, 72, 0.7);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.artical {
  border: 15px solid transparent;
  border-bottom: 15px solid rgba(7, 13, 72, 0.7);
  position: absolute;
  top: -30px;
  left: 40px
}

.mapshow .mapicon {
  z-index: 20;
}

.msgWindow h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.msgWindow li div span:nth-child(3) {
  font-size: 12px;
  display: inline-block;
  margin-left: 10px;
}

.msgWindow.h li {
  margin-top: 10px;
}

.msgWindow li div span:nth-child(1) {
  display: inline-block;
  width: 100px;
}

.msgWindow.y h3,
.msgWindow.h h3,
.msgWindow.h li div span:nth-child(2),
.msgWindow.h li div span:nth-child(3) {
  color: #ffb300;
}


.msgWindow.c h3,
.msgWindow.c li div span:nth-child(2),
.msgWindow.c li div span:nth-child(3) {
  color: #00c255;
}
.chhdNum{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.chhdNum>div.third {
  width: 32%;
}

.chhdNum>div.half {
  width: 49%;
}
.chhdNum>div {
  background-image: url('../../assets/img/bg1.png');
  background-size: 100% 100%;
  margin-bottom: 10px;
  padding: 10px;
}
.chhdNum p{
  margin-bottom: 10px;
}
.chhdNum p span{
  font-size: 14px;
  color: #fff;
}

.chhdNum p i{
  font-size: 12px;
  color: #00b0ff;
  display: inline-block;
  margin-left: 5px;
  font-style: normal;
  vertical-align: bottom;

}
.chhdNum>div>span{
  font-family:Strong ;
  font-size: 26px;
  color: #00b0ff;
  font-weight: 400;
}
.sreenRight>div:nth-child(2){
  height: calc(100% - 233px);
}
.lineCon>div{
  height: 33%;
  overflow: hidden;
}