/*运行监控分析样式*/
.modelContent{
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
}

.modelCon_left{
  width: 50px;
  height: 100%;
  background: #ffffff;
  padding-top: 50px;
}
.modelConLeftUl{

}
.monitorIcon{
  width: 50px;
  height: 50px;
  margin-bottom: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
.monitorIcon img {
  display: inline-block;
  border: none;
  vertical-align: middle;
}
.backOne{
  width: 50px;
  height: 50px;
  display: inline-block;
  border: none;
  vertical-align: middle;
}
.backOneIcon{
  background: url("../img/opeMon/powerIcon.png") no-repeat center;
}
.monitorIcon .active .backOneIcon {
  background: url("../img/opeMon/powerIcon_active.png") no-repeat center;
}
.backTwoIcon{
  background: url("../img/opeMon/analyzeIcon.png") no-repeat center;
}
.monitorIcon .active .backTwoIcon {
  background: url("../img/opeMon/analyzeIcon_active.png") no-repeat center;
}

.modelConLeftUl .active{
  background: #f7f9fb;
  border-left: 3px solid #3b85de;
}

.modelCon_right{
  width: 100%;
  height: 100%;
}

/*运行监控分析内容部分*/
.MonContent{
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  padding: 10px;
}

.monConTit{
  font-size: 16px;
  color: #98abb3;
  margin:5px 10px;
  font-weight: 600;
}
.TitactiveColor{
  color: #4a93eb;
}
